button {
  background-color: #4056A1;  
  color: #FFFFFF;
  font-family: Bungee;
}

.submit {
  /* z-index: 2; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet {
  margin: 0 auto;
  width: 80%;
}

textarea {
  height: 50px;
  background-color: #f4f1ec;
  width: 100%;
  border: none;
  border-bottom: 5px solid grey;
}

#counter {
  font-family: Bungee;
}
#form {
  margin-bottom: 4em;;
}

#is-empty {
  color: red;
  border-width: 50px;
  border: 5px solid red;
}
#exceeds {
  color: red;
  border-width: 50px;
  border: 5px solid red;
}